{{extend 'layout.html'}}

<script src="https://maps.google.com/maps/api/js?key=AIzaSyC5zinZoOTO9onWdHZiU5dRAH7UzZoGcsI"></script>
<script src="{{=URL('static','js/gmaps.js')}}"></script>
{{block left_sidebar}}

<div id="left_sidebar">
<div style="padding: 4px;">
        <div id="map" style="height:400px;width:100%"></div>
<script>
$(document).ready(function(){
  map = new GMaps({
    div: '#map',
      lat: 0,
      lng: 0
  });
  GMaps.geolocate({
  success: function(position) {
    map.setCenter(position.coords.latitude, position.coords.longitude);
  },
  error: function(error) {
    alert('Geolocation failed: '+error.message);
  },
  not_supported: function() {
    alert("Your browser does not support geolocation");
  },
  always: function() {
  }
});
});
</script>
    <script>

    </script>
        </div>
        </div><!-- left_sidebar -->
{{end}}
<h1> Events around you </h1>
{{=BEAUTIFY(things)}}
